#right-content {
  width: 100%;
  height: 100%;
  background-color: #f5f7fa;
  #title {
    .title {
      padding-left: 30px;
      padding-right: 25px;
      @include flexbox;
      height: 60px;
      p {
        font-weight: 500;
      }
      .fa-xmark {
        color: #adbfc7;
      }
    }
    &::after {
      content: "";
      display: block;
      background-color: #e3eaf3;
      width: 100%;
      height: 3px;
    }
  }
}
